<h1>Todo Lists</h1>

<% @todo_lists.each do |todo_list| %>
  <div class="todo_list">
    <span>
      <% if todo_list.todo_items.any? {|item| !item.done } %>
        <div class="not_done">
      <% else %>
        <div class="done">
      <% end %>
      <%= "#{todo_list.list_due_date}" %>
      </div>
    <%= "-  " %>
    <%= link_to "#{todo_list.list_name}", todo_list, class: "todo_list_link" %>
    </span>
  </div>
<% end %>
<p />
<%= will_paginate @todo_lists %>
<p />

<%= link_to 'New Todo List', new_todo_list_path %>
